.btn {
  /* default for <button>, but useful for <a> */
  // @include button-reset;
  display: inline-block;
  text-align: center;

  /* border and radius */
  border: solid 1px $secondary;
  border-radius: 1px;

  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;

  /* make sure colors have enough contrast! */
  color: $secondary;
  background-color: transparent;
}

/* inverse colors on mouse-over */
.btn:hover {
  color: white;
  // border-color: currentColor;
  background-color: $secondary;
}
