html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Reset margins and paddings on most elements
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

// Remove underline from links
a {
  text-decoration: none;
}

// Remove disc from ul
ul {
  list-style: none;
}

// inherit typography for forms and buttons
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

// style borders on forms elements
input,
textarea {
  border: 1px solid gray;
  resize: none;
}

button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  cursor: pointer;
}

button * {
  pointer-events: none;
}
