@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
@import 'material-color';
@import 'mixins';
@import 'reset';
@import 'variables';
@import 'buttons';

/*********************************************
Base Styles
**********************************************/
html {
  scroll-behavior: smooth;
}

body {
  cursor: url('../cursor.cur'), auto;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

* img {
  // display: block;
  line-height: 0;
  // max-width: 100%;
}

h1,
h2,
p {
  font-weight: 300;
}

/*********************************************
Navigation
**********************************************/
.nav {
  background: $primary;
  border-bottom: $secondary 3px solid;
  opacity: 1;
  //padding y / padding x
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 1;

  .nav-inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include center(1200px);

    .site-title img {
      padding: 0;
      display: block;
    }

    .menu {
      display: flex;
      padding: 0;
      margin: 0;

      li {
        /* horizontal space between menu items */
        margin-left: 1rem;
      }

      .active {
        color: $secondary;
      }

      a {
        color: $lightgrey1;
      }

      a:hover {
        color: $secondary;
      }
    }
  }
}

/***********************
HOME SECTION
************************/
#home-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.99)), url(../img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // background-size: 100%;
  min-height: 100vh;
  color: $light;

  .home-inner {
    @include center(1200px);
    text-align: center;
    padding-top: 270px;

    h1 {
      font-size: 4.5rem;
      line-height: 1.2;

      strong {
        color: $secondary;
      }
    }
  }
}

/***********************
MUSIC HEAD
************************/
#music-head-section {
  background: $primary;
  //padding y / padding x
  padding: 6rem 0;

  .music-head-inner {
    @include center(1200px);
    color: $light;
    text-align: center;

    h2 {
      font-size: 4.5rem;
    }

    .button {
      margin-top: 25px;
    }
  }
}

/*********************************************
MUSIC SECTION
**********************************************/
.music-section {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/brickwall.jpg);
  padding: 8rem 0 6.5rem 0;

  .music-inner {
    @include center(1200px);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
}

/***********************
VIDEO HEAD
************************/
#video-head-section {
  background: $primary;
  //padding y / padding x
  padding: 6rem 0;

  .video-head-inner {
    @include center(1200px);
    color: $light;
    text-align: center;

    h2 {
      font-size: 4.5rem;
    }

    .button {
      margin-top: 25px;
    }
  }
}

/*********************************************
VIDEO SECTION
**********************************************/
.video-section {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/brickwall.jpg);
  padding: 8rem 0 6.5rem 0;

  .video-inner {
    @include center(1200px);
    display: grid;
    grid-template-areas:
      'one one two two'
      'three three four four';
    grid-gap: 20px;
  }

  .one {
    grid-area: one;
  }

  .two {
    grid-area: two;
  }

  .three {
    grid-area: three;
  }

  .four {
    grid-area: four;
  }

  .video-inner > div {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*********************************************
footer
**********************************************/
.main-footer {
  background: $dark;
  color: $light;
  //padding y / padding x
  padding: 2rem 0;

  .footer-inner {
    @include center(1200px);
    text-align: center;
    color: white;

    button {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    i {
      padding: 0.3rem;
    }

    .fa-facebook-square {
      color: $light;
    }

    .fa-youtube-square {
      color: $light;
    }

    .fa-bandcamp {
      color: $light;
    }

    .fa-facebook-square:hover {
      color: #3b5998;
    }

    .fa-youtube-square:hover {
      color: #f00;
    }

    .fa-bandcamp:hover {
      color: #629aa9;
    }
  }
}

/*********************************************
modal
**********************************************/
.modal-bg {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;

  .modal-content {
    height: 500px;
    width: 400px;
    background: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    border-radius: 4px;
    text-align: center;
    padding: 40px;
    position: relative;
    animation-name: modalopen;
    animation-duration: 1s;

    @keyframes modalopen {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .close {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 42px;
      color: #333;
      transform: rotate(45deg);
      cursor: pointer;

      &:hover {
        color: #666;
      }
    }

    input,
    textarea,
    .btn {
      margin: 10px auto;
      display: block;
      width: 100%;
      padding: 8px;
    }

    textarea {
      height: 140px;
    }
  }
}
