@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import 'material-color';
@import 'mixins';
@import 'reset';
@import 'variables';
@import 'buttons';

/*********************************************
Base Styles
**********************************************/
html {
  scroll-behavior: smooth;
}

body {
  cursor: url('../cursor.cur'), auto;
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
  overflow-x: hidden;
}

* img {
  display: block;
  line-height: 0;
  // max-width: 100%;
}

/*********************************************
Navigation
**********************************************/
.nav {
  background: $primary;
  border-bottom: $secondary 3px solid;
  opacity: 0.9;
  //padding y / padding x
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 1;

  .nav-inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include center(1200px);

    .site-title img {
      padding: 0;
      display: block;
    }

    .menu {
      display: flex;
      padding: 0;
      margin: 0;

      li {
        /* horizontal space between menu items */
        margin-left: 1rem;
      }

      .active {
        color: $secondary;
      }

      a {
        color: $lightgrey1;
      }

      a:hover {
        color: $secondary;
      }
    }
  }
}

/***********************
HOME SECTION
************************/
#home-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.99)), url(../img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // background-size: 100%;
  min-height: 100vh;
  color: $light;

  .home-inner {
    @include center(1200px);
    text-align: center;
    padding-top: 270px;

    h1 {
      font-size: 6.5rem;
      line-height: 1.2;

      strong {
        color: $secondary;
      }
    }
  }
}

/***********************
MUSIC HEAD
************************/
#music-head-section {
  background: $primary;
  //padding y / padding x
  padding: 6rem 0;

  .music-head-inner {
    @include center(1200px);
    color: $light;
    text-align: center;

    h2 {
      font-size: 4.5rem;
    }

    .button {
      margin-top: 25px;
    }
  }
}

/*********************************************
MUSIC SECTION
**********************************************/
.music-section {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/brickwall.jpg);
  padding: 8rem 0 6.5rem 0;

  .music-inner {
    @include center(1200px);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
}

/***********************
VIDEO HEAD
************************/
#video-head-section {
  background: $primary;
  //padding y / padding x
  padding: 6rem 0;

  .video-head-inner {
    @include center(1200px);
    color: $light;
    text-align: center;

    h2 {
      font-size: 4.5rem;
    }

    .button {
      margin-top: 25px;
    }
  }
}

/*********************************************
VIDEO SECTION
**********************************************/
.video-section {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/brickwall.jpg);
  padding: 8rem 0 6.5rem 0;

  .video-inner {
    @include center(1200px);
    display: grid;
    grid-template-areas:
      'one one two two'
      'three three four four';
    grid-gap: 20px;
  }

  .one {
    grid-area: one;
  }

  .two {
    grid-area: two;
  }

  .three {
    grid-area: three;
  }

  .four {
    grid-area: four;
  }

  .video-inner > div {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*********************************************
footer
**********************************************/
.main-footer {
  background: $dark;
  color: $light;
  //padding y / padding x
  padding: 2rem 0;

  .footer-inner {
    @include center(1200px);
    text-align: center;
    color: white;

    h3 {
      font-size: 2rem;
    }

    button {
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;
    }

    i {
      margin: 0.2rem;
    }

    .fa-facebook-square {
      color: $light;
    }

    .fa-youtube-square {
      color: $light;
    }

    .fa-bandcamp {
      color: $light;
    }

    .fa-facebook-square:hover {
      color: #3b5998;
    }

    .fa-youtube-square:hover {
      color: #f00;
    }

    .fa-bandcamp:hover {
      color: #629aa9;
    }
  }
}

/*********************************************
modal
**********************************************/

/* modal greyed out background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* modal popup */
.modal-content {
  background: white;
  margin: 10% auto;
  max-width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-header {
  background: $dark;
  padding: 15px;
  color: #fff;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.modal-footer {
  background: $dark;
  padding: 10px;
  color: #fff;
  text-align: center;
}

/* the x */
.close {
  color: #fff;
  float: right;
  font-size: 24px;
}

.close:hover,
.close:focus {
  color: #ccc;
  // text-decoration: none;
  cursor: pointer;
}
